*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  color: #000;
}

.header {
  position: fixed;
  height: 70px;
  width: 100%;
  padding: 0 20px;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.search-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 450px;
}

.search-form__box {
  width: 100%;
}

.search-form__box form {
  position: relative;
  margin: 0 auto;
}

.search-form__box input {
  max-width: 450px;
  width: 100%;
  height: 42px;
  padding-left: 10px;
  padding-right: 52px;
  border: 2px solid #0b1067;
  border-radius: 5px;
  outline: none;
  background: #fff;
  color: #0b1067;
}

.search-wrapper {
  position: absolute;
  top: 0;
  right: 1px;
  width: 42px;
  height: 42px;
  border: none;
  background: #0b1067;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 10px;
}

.search-wrapper svg {
  width: 18px;
  height: 18px;
}

.speech-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;
}

.speech-wrapper svg,
.bell-wrapper svg {
  width: 30px;
  height: 30px;
}

.speech-wrapper:hover svg path,
.bell-wrapper:hover svg path {
  fill: #0b1067;
}

.user-account {
  display: flex;
  align-items: center;
}

.bell-wrapper {
  cursor: pointer;
}

.profile {
  position: relative;
}

.profile img {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  outline: 2px solid #0b1067;
  margin-left: 15px;
}

.submenu {
  display: none;
  position: absolute;
  background-color: #fff;
  right: 0;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.15), 0 10px 10px rgba(0, 0, 0, 0.12);
}

.profile:hover .submenu {
  display: block;
}

.submenu__item {
  white-space: nowrap;
}

.submenu__item:hover {
  background-color: #0b1067;
  color: #fff;
}

.submenu__link {
  display: flex;
  align-items: center;
  padding: 10px 75px 10px 20px;
}

.submenu__svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}

.submenu__link.logout {
  color: red;
}

.main {
  min-height: calc(100vh - 70px);
  margin-top: 70px;
  position: relative;
  display: flex;
}

.main__aside {
  left: 0;
  bottom: 0;
  position: fixed;
}

.aside {
  left: 0;
  bottom: 0;
  position: fixed;
  max-width: 250px;
  width: 100%;
  height: calc(100vh - 70px);
  background: rgb(213, 203, 203);
  display: flex;
  flex-direction: column;
}

.aside__items {
  padding-top: 15px;
  height: 0;
  flex: 1 0 auto;
  overflow-y: auto;
  font-size: 16px;
}

.aside__items::-webkit-scrollbar-track {
  border-radius: 4px;
}

.aside__items::-webkit-scrollbar {
  width: 8px;
  height: 50px;
}

.aside__items::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #243044;
}

.aside__link {
  width: 100%;
  padding: 10px 25px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.aside__link:hover {
  background-color: gray;
}

.aside__link {
  display: flex;
}

.aside__link img {
  width: 36px;
  height: 36px;
  margin-right: 24px;
  border-radius: 50%;
  flex-shrink: 0;
}

.link-text {
  width: 100%;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.subscribes {
  position: relative;
}

.subscribes.strim:after {
  content: '';
  width: 4.5px;
  height: 4.5px;
  left: -10px;
  top: 9px;
  position: absolute;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  -webkit-animation: pulse-red 2s infinite;
  animation: pulse-red 2s infinite;
}

@-webkit-keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

@keyframes pulse-red {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

.aside__socials {
  flex: 0 0 auto;
  padding: 20px;
  border-top: 2px solid #FFF;
}

.socials {
  background-color: rgb(169,
      169,
      169);
  padding: 10px 5px;
  text-align: center;
}

.socials__list {
  margin-top: 15px;
  display: flex;
  gap: 15px;
  justify-content: center;
}

.socials__link svg {
  width: 30px;
  height: 30px;
  color: #1e1e1e;
  transition: ease .3s;
}

.socials__link:hover svg path {
  fill: #0b1067;
}

.content {
  width: 100%;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content__box {
  flex: 1 0 auto;
  margin: 15px 20px;
}

.content-bar {
  margin-bottom: 25px;
}

.content-bar__items {
  display: flex;
  overflow-x: hidden;
  padding: 22px 0;
}

.content-bar__item:first-child a {
  background-color: #0b1067;
  color: #fff;
}

.content-bar__item+li {
  margin-left: 15px;
}

.content-bar__item a {
  padding: 10px 15px;
  border: 1px solid #0b1067;
  border-radius: 20px;
  color: #0b1067;
}

.content__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}

.content__thumb {
  display: block;
  position: relative;
}

.content__thumb img {
  width: calc(100%);
}

.content__thumb span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 3px 4px;
  color: #fff;
  font-size: 11px;
  border-radius: 4px;
  background: #000;
}

.strim .content__thumb:before {
  content: 'LIVE';
  background: red;
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
  border-radius: 4px;
  font-size: 12px;
  padding: 2px 4px;
  z-index: 55;
}

.content__thumb .content-overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 98.5%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  transition: all 0.4s ease-in-out 0s;
}

.content__thumb:hover .content-overlay::before {
  content: "\f04b";
  ;
  width: 60px;
  height: 60px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  bottom: 0;
  padding-top: 10px;
  padding-left: 5px;
  font-family: FontAwesome;
  font-weight: 900;
  font-size: 35px;
  border-radius: 50%;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
}

.content__thumb:hover .content-overlay {
  opacity: 1;
}

.details {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.avatar__link img {
  width: 32px;
  height: 32px;
  margin-right: 18px;
  border-radius: 50%;
  flex-shrink: 0;
}

.info {
  width: 100%;
  margin-right: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-size: 18px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.title a:hover {
  color: #0b1067;
}

.avtor {
  font-size: 12px;
  color: gray;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.info__menu {
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: none;
  background: none;
}

.content__footer {
  flex: 0 0 auto;
  padding: 10px 0 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  display: flex;
  align-items: center;
}

.footer__link svg {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 2px;
}

.footer__link:hover svg path {
  fill: #0b1067;
}

@media (max-width: 1200px) {
  .aside {
    width: 64px;
  }

  .content {
    margin-left: 64px;
  }

  .aside__link {
    padding: 10px 12px;
  }

  .aside__link span {
    display: none;
  }

  .aside__socials {
    display: none;
  }
}

@media (max-width: 490px) {
  .speech-wrapper {
    display: none;
  }

  .content__items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

@media (max-width: 390px) {
  .search-form {
    display: none;
  }
}